{% extends 'base.html.twig' %}

{% block title %}New Entrainment{% endblock %}

{% block body %}


    <div class="w-full flex flex-col items-center">
        <div class="  flex justify-center">
            {{ include('entrainment/_form.html.twig') }}

        </div>

    </div>




{% endblock %}
